* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

.App {
    background-image: url(./Assets/attack2.gif);
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

